@import "tailwindcss";

:root {
  --back: #302e2b;
  --back1: #262421;
  --back2: #201e1c;
  --back3: #181614;
  --back4: #141211;
  --fore: #ededed;
  --fore1: #c5c5c5;
  --fore2: #979797;
  --fore3: #858585;
  --fore4: #6d6d6d;
  --brown1: #c9b99a;
  --brown2: #a67c52;
  --brown3: #8b5e3c;
  --brown4: #6f4526;
  --brown5: #53300f;
  --error: #fa8b8b;
  --error1: #ff7272;
  --error2: #ff5151;
  --error3: #e73636;
  --green: #c2ffc2;
  --green1: #92ee92;
  --green2: #58da58;
  --green3: #29b129;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-back: var(--back);
  --color-back1: var(--back1);
  --color-back2: var(--back2);
  --color-back3: var(--back3);
  --color-back4: var(--back4);
  --color-fore: var(--fore);
  --color-fore1: var(--fore1);
  --color-fore2: var(--fore2);
  --color-fore3: var(--fore3);
  --color-fore4: var(--fore4);
  --color-brown1: var(--brown1);
  --color-brown2: var(--brown2);
  --color-brown3: var(--brown3);
  --color-brown4: var(--brown4);
  --color-brown5: var(--brown5);
  --color-error: var(--error);
  --color-error1: var(--error1);
  --color-error2: var(--error2);
  --color-error3: var(--error3);
  --color-green: var(--green);
  --color-green1: var(--green1);
  --color-green3: var(--green3);
  --color-green2: var(--green2);
}

body {
  background: var(--back);
  color: var(--fore);
  font-family: Arial, Helvetica, sans-serif;
}

tbody tr:hover td {
  background-color: var(--color-back2); /* or whatever your back2 value is */
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--back) transparent; /* thumb track */
}

.scrollbar::-webkit-scrollbar {
  width: 6px;  /* without this, webkit scrollbar is invisible */
  height: 6px; /* for horizontal scroll */
}

.scrollbar::-webkit-scrollbar-button {
  display: hidden;
  width: 0;
  height: 0;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--back);
  border-radius: 999px;
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-text-cursor {
  cursor: default;
}

.no-text-select {
  -webkit-user-select: none;
  user-select: none;
}

#button-feedback {
  @apply relative min-h-0 min-w-0 cursor-pointer;
}

#div-button-feedback {
  @apply relative min-h-0 min-w-0;
}

.feedback-span {
  border-radius: inherit;
  animation: scaleFeedback 0.15s ease-in-out;
}

.circleFrame {
  box-shadow: 0px 0px 0px 99999px rgba(0, 0, 0, 0.75);
}

@keyframes scaleFeedback {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.center {
  @apply flex justify-center items-center
}

.animate-waiting {
  animation: waiting 1.25s infinite;
  background-color: var(--back1);
}

.animate-waiting:nth-child(1) { animation-delay: 0s;}
.animate-waiting:nth-child(2) { animation-delay: 0.1s;}
.animate-waiting:nth-child(3) { animation-delay: 0.2s;}
.animate-waiting:nth-child(4) { animation-delay: 0.3s;}
.animate-waiting:nth-child(5) { animation-delay: 0.4s;}
.animate-waiting:nth-child(6) { animation-delay: 0.5s;}
.animate-waiting:nth-child(7) { animation-delay: 0.6s;}

@keyframes waiting {
  0%, 100% {
    background-color: var(--brown1);
  }
  50% {
    background-color: var(--back1);
  }
}